@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-primary bg-primary max-w-9xl mx-auto relative px-2 sm:px-3 md:px-5 lg:px-6 xl:px-7 2xl:px-10;
}
.section {
  min-height: calc(100vh - 68px);
}
.swiper-button-next,
.swiper-button-prev {
  color: #7851a9;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-weight: bold;
}
